In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("./BreadBasket_DMS.csv",delimiter=',')
df.head(30)

          Date      Time  Transaction           Item
0   2016-10-30  09:58:11            1          Bread
1   2016-10-30  10:05:34            2   Scandinavian
2   2016-10-30  10:05:34            2   Scandinavian
3   2016-10-30  10:07:57            3  Hot chocolate
4   2016-10-30  10:07:57            3            Jam
5   2016-10-30  10:07:57            3        Cookies
6   2016-10-30  10:08:41            4         Muffin
7   2016-10-30  10:13:03            5         Coffee
8   2016-10-30  10:13:03            5         Pastry
9   2016-10-30  10:13:03            5          Bread
10  2016-10-30  10:16:55            6      Medialuna
11  2016-10-30  10:16:55            6         Pastry
12  2016-10-30  10:16:55            6         Muffin
13  2016-10-30  10:19:12            7      Medialuna
14  2016-10-30  10:19:12            7         Pastry
15  2016-10-30  10:19:12            7         Coffee
16  2016-10-30  10:19:12            7            Tea
17  2016-10-30  10:20:51            8         Pastry
18  2016-10-30  10:20:51            8          Bread
19  2016-10-30  10:21:59            9          Bread
20  2016-10-30  10:21:59            9         Muffin
21  2016-10-30  10:25:58           10   Scandinavian
22  2016-10-30  10:25:58           10      Medialuna
23  2016-10-30  10:27:21           11          Bread
24  2016-10-30  10:27:21           11      Medialuna
25  2016-10-30  10:27:21           11          Bread
26  2016-10-30  10:27:21           11           NONE
27  2016-10-30  10:30:14           12            Jam
28  2016-10-30  10:30:14           12         Coffee
29  2016-10-30  10:30:14           12        Tartine

In [23]:
df_ = pd.read_csv("./GroceryStoreDataSet.csv",delimiter=',')
df_.columns = ['Items']
df_['Transaction'] = np.arange(1,df_.shape[0]+1)
df_

                             Items  Transaction
0               MILK,BREAD,BISCUIT            1
1    BREAD,MILK,BISCUIT,CORNFLAKES            2
2              BREAD,TEA,BOURNVITA            3
3             JAM,MAGGI,BREAD,MILK            4
4                MAGGI,TEA,BISCUIT            5
5              BREAD,TEA,BOURNVITA            6
6             MAGGI,TEA,CORNFLAKES            7
7          MAGGI,BREAD,TEA,BISCUIT            8
8              JAM,MAGGI,BREAD,TEA            9
9                       BREAD,MILK           10
10  COFFEE,COCK,BISCUIT,CORNFLAKES           11
11  COFFEE,COCK,BISCUIT,CORNFLAKES           12
12          COFFEE,SUGER,BOURNVITA           13
13               BREAD,COFFEE,COCK           14
14             BREAD,SUGER,BISCUIT           15
15         COFFEE,SUGER,CORNFLAKES           16
16           BREAD,SUGER,BOURNVITA           17
17              BREAD,COFFEE,SUGER           18
18              BREAD,COFFEE,SUGER           19
19      TEA,MILK,COFFEE,CORNFLAKES           20

In [33]:
dict_ = {}
for transaction,items in zip(df_['Transaction'],df_['Items']):
    dict_[transaction] = list(items.split(','))
dict_

{1: ['MILK', 'BREAD', 'BISCUIT'],
 2: ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 3: ['BREAD', 'TEA', 'BOURNVITA'],
 4: ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 5: ['MAGGI', 'TEA', 'BISCUIT'],
 6: ['BREAD', 'TEA', 'BOURNVITA'],
 7: ['MAGGI', 'TEA', 'CORNFLAKES'],
 8: ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 9: ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 10: ['BREAD', 'MILK'],
 11: ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 12: ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 13: ['COFFEE', 'SUGER', 'BOURNVITA'],
 14: ['BREAD', 'COFFEE', 'COCK'],
 15: ['BREAD', 'SUGER', 'BISCUIT'],
 16: ['COFFEE', 'SUGER', 'CORNFLAKES'],
 17: ['BREAD', 'SUGER', 'BOURNVITA'],
 18: ['BREAD', 'COFFEE', 'SUGER'],
 19: ['BREAD', 'COFFEE', 'SUGER'],
 20: ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']}

In [45]:
# create a pandas DataFrame with the above dict
transaction = list()
item = list()
for key in dict_:
    for value in dict_[key]:
        transaction.append(key)
        item.append(value)
print(item)
dict_data = {}
dict_data = {'Transaction' : transaction, 'Items' : item}

['MILK', 'BREAD', 'BISCUIT', 'BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES', 'BREAD', 'TEA', 'BOURNVITA', 'JAM', 'MAGGI', 'BREAD', 'MILK', 'MAGGI', 'TEA', 'BISCUIT', 'BREAD', 'TEA', 'BOURNVITA', 'MAGGI', 'TEA', 'CORNFLAKES', 'MAGGI', 'BREAD', 'TEA', 'BISCUIT', 'JAM', 'MAGGI', 'BREAD', 'TEA', 'BREAD', 'MILK', 'COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES', 'COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES', 'COFFEE', 'SUGER', 'BOURNVITA', 'BREAD', 'COFFEE', 'COCK', 'BREAD', 'SUGER', 'BISCUIT', 'COFFEE', 'SUGER', 'CORNFLAKES', 'BREAD', 'SUGER', 'BOURNVITA', 'BREAD', 'COFFEE', 'SUGER', 'BREAD', 'COFFEE', 'SUGER', 'TEA', 'MILK', 'COFFEE', 'CORNFLAKES']

In [47]:
df = pd.DataFrame(dict_data)
df

    Transaction       Items
0             1        MILK
1             1       BREAD
2             1     BISCUIT
3             2       BREAD
4             2        MILK
..          ...         ...
61           19       SUGER
62           20         TEA
63           20        MILK
64           20      COFFEE
65           20  CORNFLAKES

[66 rows x 2 columns]

In [49]:
df.loc[df['Items']=='NONE',:]

Empty DataFrame
Columns: [Transaction, Items]
Index: []

In [51]:
df.drop(df.loc[df['Items']=='NONE',:].index,axis=0,inplace=True)

In [41]:
df.shape

(20507, 4)

In [52]:
hot_encoded_df = df.groupby(['Transaction','Items'])['Items'].count().unstack().reset_index().fillna(0).set_index('Transaction')

In [53]:
hot_encoded_df

Items,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
Transaction,,,,,,,,,,,
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
14,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
17,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
19,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
20,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0

In [54]:
def encode_units(x):
    if x <= 0:
        return 0
    else:
        return 1
hot_encoded_df = hot_encoded_df.applymap(encode_units)

In [56]:
hot_encoded_df

Items,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
Transaction,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,1,0,0
2,1,0,1,0,0,1,0,0,1,0,0
3,0,1,1,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,1,1,1,0,0
5,1,0,0,0,0,0,0,1,0,0,1
6,0,1,1,0,0,0,0,0,0,0,1
7,0,0,0,0,0,1,0,1,0,0,1
8,1,0,1,0,0,0,0,1,0,0,1
9,0,0,1,0,0,0,1,1,0,0,1
10,0,0,1,0,0,0,0,0,1,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,1,0,0,1,1,1,0,0,0,0,0
13,0,1,0,0,1,0,0,0,0,1,0
14,0,0,1,1,1,0,0,0,0,0,0
15,1,0,1,0,0,0,0,0,0,1,0
16,0,0,0,0,1,1,0,0,0,1,0
17,0,1,1,0,0,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,1,0,1,0,0,0,0,1,0
20,0,0,0,0,1,1,0,0,1,0,1

In [57]:
from mlxtend.frequent_patterns import apriori, association_rules

In [64]:
freq_itemsets = apriori(hot_encoded_df, min_support=0.1,use_colnames = True)

In [65]:
freq_itemsets

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BREAD, BISCUIT)
12     0.10                      (COCK, BISCUIT)
13     0.10                    (COFFEE, BISCUIT)
14     0.15                (CORNFLAKES, BISCUIT)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (TEA, BISCUIT)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (BOURNVITA, SUGER)
20     0.10                     (TEA, BOURNVITA)
21     0.15                      (BREAD, COFFEE)
22     0.10                         (BREAD, JAM)
23     0.15                       (BREAD, MAGGI)
24     0.20                        (MILK, BREAD)
25     0.20                       (BREAD, SUGER)
26     0.20                         (TEA, BREAD)
27     0.15                       (COCK, COFFEE)
28     0.10                   (COCK, CORNFLAKES)
29     0.20                 (CORNFLAKES, COFFEE)
30     0.20                      (SUGER, COFFEE)
31     0.10                   (MILK, CORNFLAKES)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (JAM, MAGGI)
34     0.20                         (TEA, MAGGI)
35     0.10               (MILK, BREAD, BISCUIT)
36     0.10              (COCK, COFFEE, BISCUIT)
37     0.10          (COCK, CORNFLAKES, BISCUIT)
38     0.10        (CORNFLAKES, COFFEE, BISCUIT)
39     0.10                (TEA, BISCUIT, MAGGI)
40     0.10              (BREAD, BOURNVITA, TEA)
41     0.10               (BREAD, SUGER, COFFEE)
42     0.10                  (MAGGI, BREAD, JAM)
43     0.10                  (TEA, BREAD, MAGGI)
44     0.10           (COCK, CORNFLAKES, COFFEE)
45     0.10  (COCK, CORNFLAKES, COFFEE, BISCUIT)

In [62]:
rules = association_rules(freq_itemsets, metric='lift',min_threshold=0.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BREAD),(BISCUIT),0.65,0.35,0.20,0.307692,0.879121,-0.0275,0.938889
1,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
2,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
3,(BISCUIT),(COCK),0.35,0.15,0.10,0.285714,1.904762,0.0475,1.190000
4,(COFFEE),(BISCUIT),0.40,0.35,0.10,0.250000,0.714286,-0.0400,0.866667
...,...,...,...,...,...,...,...,...,...
331,"(CORNFLAKES, COFFEE)","(TEA, MILK)",0.20,0.05,0.05,0.250000,5.000000,0.0400,1.266667
332,(TEA),"(MILK, CORNFLAKES, COFFEE)",0.35,0.05,0.05,0.142857,2.857143,0.0325,1.108333
333,(MILK),"(TEA, CORNFLAKES, COFFEE)",0.25,0.05,0.05,0.200000,4.000000,0.0375,1.187500
334,(CORNFLAKES),"(TEA, MILK, COFFEE)",0.30,0.05,0.05,0.166667,3.333333,0.0350,1.140000
335,(COFFEE),"(TEA, MILK, CORNFLAKES)",0.40,0.05,0.05,0.125000,2.500000,0.0300,1.085714

In [68]:
rules[(rules['confidence'] > 0.4)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
2,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
6,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
7,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
17,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000
...,...,...,...,...,...,...,...,...,...
326,"(TEA, MILK)","(CORNFLAKES, COFFEE)",0.05,0.20,0.05,1.000000,5.000000,0.0400,inf
327,"(TEA, CORNFLAKES)","(MILK, COFFEE)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000
328,"(TEA, COFFEE)","(MILK, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf
329,"(MILK, CORNFLAKES)","(TEA, COFFEE)",0.10,0.05,0.05,0.500000,10.000000,0.0450,1.900000
330,"(MILK, COFFEE)","(TEA, CORNFLAKES)",0.05,0.10,0.05,1.000000,10.000000,0.0450,inf