In [3]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
df_ = pd.read_csv("./GroceryStoreDataSet.csv",delimiter=',')
df_.columns = ['Items']
df_['Transaction'] = np.arange(1,df_.shape[0]+1)
df_

                             Items  Transaction
0               MILK,BREAD,BISCUIT            1
1    BREAD,MILK,BISCUIT,CORNFLAKES            2
2              BREAD,TEA,BOURNVITA            3
3             JAM,MAGGI,BREAD,MILK            4
4                MAGGI,TEA,BISCUIT            5
5              BREAD,TEA,BOURNVITA            6
6             MAGGI,TEA,CORNFLAKES            7
7          MAGGI,BREAD,TEA,BISCUIT            8
8              JAM,MAGGI,BREAD,TEA            9
9                       BREAD,MILK           10
10  COFFEE,COCK,BISCUIT,CORNFLAKES           11
11  COFFEE,COCK,BISCUIT,CORNFLAKES           12
12          COFFEE,SUGER,BOURNVITA           13
13               BREAD,COFFEE,COCK           14
14             BREAD,SUGER,BISCUIT           15
15         COFFEE,SUGER,CORNFLAKES           16
16           BREAD,SUGER,BOURNVITA           17
17              BREAD,COFFEE,SUGER           18
18              BREAD,COFFEE,SUGER           19
19      TEA,MILK,COFFEE,CORNFLAKES           20

In [7]:
dict_ = {}
for transaction,items in zip(df_['Transaction'],df_['Items']):
    dict_[transaction] = list(items.split(','))
dict_

{1: ['MILK', 'BREAD', 'BISCUIT'],
 2: ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 3: ['BREAD', 'TEA', 'BOURNVITA'],
 4: ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 5: ['MAGGI', 'TEA', 'BISCUIT'],
 6: ['BREAD', 'TEA', 'BOURNVITA'],
 7: ['MAGGI', 'TEA', 'CORNFLAKES'],
 8: ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 9: ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 10: ['BREAD', 'MILK'],
 11: ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 12: ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 13: ['COFFEE', 'SUGER', 'BOURNVITA'],
 14: ['BREAD', 'COFFEE', 'COCK'],
 15: ['BREAD', 'SUGER', 'BISCUIT'],
 16: ['COFFEE', 'SUGER', 'CORNFLAKES'],
 17: ['BREAD', 'SUGER', 'BOURNVITA'],
 18: ['BREAD', 'COFFEE', 'SUGER'],
 19: ['BREAD', 'COFFEE', 'SUGER'],
 20: ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']}

In [8]:
# create a pandas DataFrame with the above dict
transaction = list()
item = list()
for key in dict_:
    for value in dict_[key]:
        transaction.append(key)
        item.append(value)
print(item)
dict_data = {}
dict_data = {'Transaction' : transaction, 'Items' : item}

['MILK', 'BREAD', 'BISCUIT', 'BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES', 'BREAD', 'TEA', 'BOURNVITA', 'JAM', 'MAGGI', 'BREAD', 'MILK', 'MAGGI', 'TEA', 'BISCUIT', 'BREAD', 'TEA', 'BOURNVITA', 'MAGGI', 'TEA', 'CORNFLAKES', 'MAGGI', 'BREAD', 'TEA', 'BISCUIT', 'JAM', 'MAGGI', 'BREAD', 'TEA', 'BREAD', 'MILK', 'COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES', 'COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES', 'COFFEE', 'SUGER', 'BOURNVITA', 'BREAD', 'COFFEE', 'COCK', 'BREAD', 'SUGER', 'BISCUIT', 'COFFEE', 'SUGER', 'CORNFLAKES', 'BREAD', 'SUGER', 'BOURNVITA', 'BREAD', 'COFFEE', 'SUGER', 'BREAD', 'COFFEE', 'SUGER', 'TEA', 'MILK', 'COFFEE', 'CORNFLAKES']

In [9]:
df = pd.DataFrame(dict_data)
df

    Transaction       Items
0             1        MILK
1             1       BREAD
2             1     BISCUIT
3             2       BREAD
4             2        MILK
..          ...         ...
61           19       SUGER
62           20         TEA
63           20        MILK
64           20      COFFEE
65           20  CORNFLAKES

[66 rows x 2 columns]

In [10]:
df.loc[df['Items']=='NONE',:]

Empty DataFrame
Columns: [Transaction, Items]
Index: []

In [11]:
df.drop(df.loc[df['Items']=='NONE',:].index,axis=0,inplace=True)

In [12]:
df.shape

(66, 2)

In [13]:
hot_encoded_df = df.groupby(['Transaction','Items'])['Items'].count().unstack().reset_index().fillna(0).set_index('Transaction')

In [14]:
hot_encoded_df

Items,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
Transaction,,,,,,,,,,,
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
6,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
8,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
12,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
13,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
14,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
16,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
17,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
19,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
20,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0

In [15]:
def encode_units(x):
    if x <= 0:
        return 0
    else:
        return 1
hot_encoded_df = hot_encoded_df.applymap(encode_units)

In [16]:
hot_encoded_df

Items,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
Transaction,,,,,,,,,,,
1,1,0,1,0,0,0,0,0,1,0,0
2,1,0,1,0,0,1,0,0,1,0,0
3,0,1,1,0,0,0,0,0,0,0,1
4,0,0,1,0,0,0,1,1,1,0,0
5,1,0,0,0,0,0,0,1,0,0,1
6,0,1,1,0,0,0,0,0,0,0,1
7,0,0,0,0,0,1,0,1,0,0,1
8,1,0,1,0,0,0,0,1,0,0,1
9,0,0,1,0,0,0,1,1,0,0,1
10,0,0,1,0,0,0,0,0,1,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,1,0,0,1,1,1,0,0,0,0,0
13,0,1,0,0,1,0,0,0,0,1,0
14,0,0,1,1,1,0,0,0,0,0,0
15,1,0,1,0,0,0,0,0,0,1,0
16,0,0,0,0,1,1,0,0,0,1,0
17,0,1,1,0,0,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,1,0,1,0,0,0,0,1,0
20,0,0,0,0,1,1,0,0,1,0,1

In [20]:
freq_itemsets = apriori(hot_encoded_df, min_support=0.1,use_colnames = True)

In [21]:
freq_itemsets

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BREAD, BISCUIT)
12     0.10                      (COCK, BISCUIT)
13     0.10                    (COFFEE, BISCUIT)
14     0.15                (CORNFLAKES, BISCUIT)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (BISCUIT, TEA)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (SUGER, BOURNVITA)
20     0.10                     (BOURNVITA, TEA)
21     0.15                      (BREAD, COFFEE)
22     0.10                         (BREAD, JAM)
23     0.15                       (BREAD, MAGGI)
24     0.20                        (BREAD, MILK)
25     0.20                       (BREAD, SUGER)
26     0.20                         (BREAD, TEA)
27     0.15                       (COCK, COFFEE)
28     0.10                   (COCK, CORNFLAKES)
29     0.20                 (CORNFLAKES, COFFEE)
30     0.20                      (SUGER, COFFEE)
31     0.10                   (CORNFLAKES, MILK)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (JAM, MAGGI)
34     0.20                         (MAGGI, TEA)
35     0.10               (BREAD, MILK, BISCUIT)
36     0.10              (COCK, COFFEE, BISCUIT)
37     0.10          (COCK, CORNFLAKES, BISCUIT)
38     0.10        (CORNFLAKES, COFFEE, BISCUIT)
39     0.10                (MAGGI, BISCUIT, TEA)
40     0.10              (BREAD, BOURNVITA, TEA)
41     0.10               (BREAD, SUGER, COFFEE)
42     0.10                  (BREAD, JAM, MAGGI)
43     0.10                  (BREAD, MAGGI, TEA)
44     0.10           (COCK, CORNFLAKES, COFFEE)
45     0.10  (COCK, COFFEE, BISCUIT, CORNFLAKES)

In [22]:
rules = association_rules(freq_itemsets, metric='lift',min_threshold=0.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BREAD),(BISCUIT),0.65,0.35,0.2,0.307692,0.879121,-0.0275,0.938889
1,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
2,(COCK),(BISCUIT),0.15,0.35,0.1,0.666667,1.904762,0.0475,1.950000
3,(BISCUIT),(COCK),0.35,0.15,0.1,0.285714,1.904762,0.0475,1.190000
4,(COFFEE),(BISCUIT),0.40,0.35,0.1,0.250000,0.714286,-0.0400,0.866667
...,...,...,...,...,...,...,...,...,...
117,"(CORNFLAKES, BISCUIT)","(COCK, COFFEE)",0.15,0.15,0.1,0.666667,4.444444,0.0775,2.550000
118,(COCK),"(BISCUIT, CORNFLAKES, COFFEE)",0.15,0.10,0.1,0.666667,6.666667,0.0850,2.700000
119,(COFFEE),"(COCK, CORNFLAKES, BISCUIT)",0.40,0.10,0.1,0.250000,2.500000,0.0600,1.200000
120,(BISCUIT),"(COCK, CORNFLAKES, COFFEE)",0.35,0.10,0.1,0.285714,2.857143,0.0650,1.260000
121,(CORNFLAKES),"(COCK, COFFEE, BISCUIT)",0.30,0.10,0.1,0.333333,3.333333,0.0700,1.350000

In [23]:
rules[(rules['confidence'] > 0.4)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
2,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
6,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
7,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
15,(BOURNVITA),(BREAD),0.20,0.65,0.15,0.750000,1.153846,0.0200,1.400000
...,...,...,...,...,...,...,...,...,...
114,"(COCK, CORNFLAKES)","(BISCUIT, COFFEE)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
115,"(BISCUIT, COFFEE)","(COCK, CORNFLAKES)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
116,"(CORNFLAKES, COFFEE)","(COCK, BISCUIT)",0.20,0.10,0.10,0.500000,5.000000,0.0800,1.800000
117,"(CORNFLAKES, BISCUIT)","(COCK, COFFEE)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
118,(COCK),"(BISCUIT, CORNFLAKES, COFFEE)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000